<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ServerStatusUpdater.ServerOpt" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <ServerStatusUpdater.ServerOpt>
            <setting name="server" serializeAs="String">
                <value>teraintranet</value>
            </setting>
            <setting name="serverip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="sercurityKey" serializeAs="String">
                <value>0bacf71935dd3589a2c529d1cdaba6d0b80a82d673730fe752001f06a509a8ff</value>
            </setting>
            <setting name="informerPort" serializeAs="String">
                <value>23232</value>
            </setting>
            <setting name="webApiUrl" serializeAs="String">
                <value>http://127.0.0.1/tera/update_ss.php</value>
            </setting>
        </ServerStatusUpdater.ServerOpt>
    </userSettings>
</configuration>
